<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Debugではコード側でbin配下に上書き出力。Releaseでは下記設定を使用 -->
    <add key="serilog:write-to:File.path" value="logs/ConsistRunner-.log"
			 xdt:Transform="Replace"
			 xdt:Locator="Match(key)"/>
    <add key="serilog:write-to:File.retainedFileCountLimit" value="14"
			 xdt:Transform="Replace"
			 xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>